<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- <mapping class="com.virtusa.vcarpool.model.User"/> <mapping class="com.virtusa.vcarpool.model.Provide"/> -->
		<!-- <mapping class="com.virtusa.vcarpool.model.FindRide"/> -->
		<!--  <mapping class="com.virtusa.vcarpoool.model.User" />-->
		<mapping class="com.virtusa.vcarpoool.model.Employee"/>
		<mapping class="com.virtusa.vcarpoool.model.Provide" />
		<mapping class="com.virtusa.vcarpoool.model.FindRide" />
	</session-factory>

</hibernate-configuration>    